@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

nav {
  @extend .navbar;
  @extend .navbar-expand-lg;
  @extend .navbar-light;
  @extend .bg-light;

  a.top {
    @extend .navbar-brand;
  }

  #navbar-supported-content {
    @extend .collapse;
    @extend .navbar-collapse;

    ul {
      @extend .navbar-nav;
      @extend .mr-auto;

      li {
        @extend .nav-item;

        a {
          @extend .nav-link;
        }
      }
    }

    .other-language-link,
    .upper-link,
    .repository-link {
      @extend .navbar-text;

      a {
        @extend .nav-link;
      }
    }
  }
}

.content {
  @extend .container;

  table {
    @extend .table;
    @extend .table-striped;
    @extend .table-bordered;

    td.note {
      @extend .text-center;
    }
  }

  div.note {
    @extend .alert;
    @extend .alert-info;

    a {
      @extend .alert-link;
    }
  }
}

footer div {
  @extend .container;
}
